page-home {

}
.user-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  padding: 9vh 5vw 2vh;
  background-color: #B16E00;
  &__view{
    height: 100%;
    &__icon{
      height: 90%;
      &_image{
        width: 100%;
        height: 100%;
      }
    }
    &__status{
      color: white;
      height: 80%;
    }
  }
}
